{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
    <title>FET-Project Retrieval System</title>
</head>
<body>
    <section id="features">
        <div class="feature-container">
            <div class="feature">
                <img class="w-100" src="{% static 'img/bookk.jpg' %}" alt="Image"/>
                <h2>Retrieve any project in stantly</h2>
                <p>Explore a vast archive of past projects at your finger tips<br>
                finding valuable insights and inspiration for your current work</p>
            </div>
            <div class="feature">
                <img class="w-100" src="{% static 'img/book2.jpg' %}" alt="Image"/>
                <h2>Collaborate Seamlessly</h2>
                <p>Effectively collaborate with your team by sharing knowledge,<br>
                lessons learned, and best practices from previous successful projects</p>
            </div>
            <div class="feature">
                <img class="w-100" src="{% static 'img/book3.jfif' %}" alt="Image"/>
                <h2>Accelerate Inovations</h2>
                <p>Unleash creativity and innovation by leveraging the collective intelligence<br>
                your organization past endeavors.</p>

            </div>
        </div>
    </section>
</body>
</html>