* {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

.containercart {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    height: 100vh;
    background: url("images/coin.jpg");
    /*linear-gradient(90deg, #a1d1a7 60%, #8ec996 40.1%)*/
    padding-bottom: 70px;
    background-size: cover;
}

.containercart form {
    padding: 20px;
    width: 700px;
    background: burlywood;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
}

.containercart form .roww {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.containercart form .roww .coll {
    flex: 1 1 250px;
}

.containercart form .roww .coll .title {
    font-size: 20px;
    color: #333;
    padding-bottom: 5px;
    text-transform: uppercase;
}

.containercart form .roww .coll .inputboxx {
    margin: 15px 0;
}

.containercart form .roww .coll .inputboxx span {
    margin-bottom: 10px;
    display: block;
}

.containercart form .roww .coll .inputboxx input {
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px 15px;
    font-size: 15px;
    text-transform: none;
}

.containercart form .roww .coll .inputboxx input:focus {
    border: 1px solid #000;
}

.containercart form .roww .coll .flex {
    display: flex;
    gap: 15px;
}

.containercart form .roww .coll .flex .inputboxx {
    margin-top: 5px;
}

.containercart form .roww .coll .flex .inputboxx img {
    height: 34px;
    margin-top: 5px;
    filter: drop-shadow(0 0 1px #000);
}

.containercart form .submit-btn {
    width: 100%;
    padding: 12px;
    font-size: 17px;
    background: #27ae60;
    color: #fff;
    margin-top: 5px;
    cursor: pointer;
}

.containercart form .submit-btn:hover {
    background: #2ecc71;
}